<!Doctype html>
<html lang="en">
    <%# this line uses the head partial and injects that information into this page, you can change the title in the head partial by including the title property on the route %>
    <%- include('partials/head') %>
    <body>
        <div id="titleDiv">
            <h1>Message Control</h1>
        </div>

        <div id="contentCtr">
            <div id="messageCtr">
                <h2>See who's been here below!</h2>

                <ul>
                <%# this line of code takes the messages array and loops through each object in the array and pulls out the data to display it on the page
                -- using msg.text pull the text from each object in the array and renders it
                -- each line needs to have an opening and closing ejs tag as they are not multi line %>
                    <% messages.forEach(msg => { %>
                        <li><%=msg.user %> : <%=msg.text%> | <%=msg.added%> </li>
                    <%})%>
                </ul>
                <div id="btnCtr">

                    <a href="/message"><button>Add your message here!</button></a>

                </div>
            </div>
        </div>
    </body>
</html>