<!Doctype html>
<html lang="en">
    <%- include('partials/head') %>
    <body>
        <div>
            <div>
                <h2>Temp placeholder</h2>
            </div>
        </div>
    </body>
</html>