<!Doctype html>
<html lang="en">
    <%- include('partials/head') %>
    <body>
        <div id="contentCtr">
            <div id="messageFormCtr">
                <form method="post" action="/message">
                    <h2>New Message</h2>

                    <div>
                        <label for="fullName">Name:</label>
                        <input type="text" id="fullName" name="fullName" placeholder="Your Full Name">
                    </div>
                    
                    <div>
                        <label for="messageText" id="messageLabel">Message:</label>
                        <textarea id="messageText" name="messageText" rows="4" cols="23" placeholder="Write your message here!"></textarea>
                    </div>

                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>